# venv
venv
.venv

# Temporary files
**/__pycache__
.pytest_cache

# git
.git
.gitignore
.github

# dev tools
.devcontainer
.vscode

# docker 
.dockerignore
Dockerfile
Dockerfile.ubuntu

# Test files
tests

# General files
doc
downloads
data
diag

# data files
**/*.log

**/td-*.txt
**/td-*.json
!td-static-extaddr-device-label.json

**/*.evethreadlayout
!'Eve Thread Network Layout.evethreadlayout'
!'example-small-Eve Thread Network Layout.evethreadlayout'


