# venv
venv
.venv

# Python caches
__pycache__
*.pyc
.pytest_cache

# git
.git
.gitignore
.github

# dev tools
.devcontainer
.vscode

# docker
.dockerignore
Dockerfile
Dockerfile.ubuntu

# project artifacts
tests
doc
plan
downloads
data
diag
script

# data files
**/*.log

# td files
**/td-*.txt
**/td-*.json
!src/data/example.td-static-extaddr-device-label.json

**/thread-*.json

**/*.evethreadlayout
!src/data/example-small-Eve Thread Network Layout.evethreadlayout
