# OTBR docker container
TD_OTBR_CONTAINER_NAME=otbr

# OTBR ot-ctl command timeout in seconds
TD_OT_CTL_TIMEOUT=10

# MDNS settings
TD_MDNS_BROWSE_TIMEOUT=5

# Web Server settings
# examples: localhost, 0.0.0.0
TD_WEB_HOST_ADDRESS=localhost
TD_WEB_HOST_PORT=8087

# Data directory examples: data, ./data
TD_DATA_DIR=data