# OpenThread Border Router (OTBR) Settings
# OTBR docker container name
TD_OTBR_CONTAINER_NAME=otbr

# OTBR ot-ctl command timeout in seconds
TD_OT_CTL_TIMEOUT=30

# MDNS Settings
# MDNS browse timeout in seconds
TD_MDNS_BROWSE_TIMEOUT=5

# TDASH Settings
# Host address for tdash web server
# examples: localhost, 0.0.0.0
TD_WEB_HOST_ADDRESS=localhost

# Host port for tdash web server
TD_WEB_HOST_PORT=9165

# Data directory for tdash to store data, logs, etc.
TD_DATA_DIR=/data